<?xml version="1.0"?>
<config>
	<engine>
		<title>Space Soldier</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="720" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene1>
		<map path="Assets/Maps/" name="MapTemplate.tmx" />
		<entities>
			<player x="3079" y="551" w="48" h="32" vidas="3" texture="Assets/Textures/player/PlayerCanvas.png">
				<animations>
					<idle loop="true" speed="0.2">
						<frame x="0" y="0" w="48" h="48" />
						<frame x="48" y="0" w="48" h="48" />
						<frame x="96" y="0" w="48" h="48" />
						<frame x="144" y="0" w="48" h="48" />
						<frame x="192" y="0" w="48" h="48" />
					</idle>
					<moveR loop="true" speed="0.2">
						<frame x="0" y="48" w="48" h="48" />
						<frame x="48" y="48" w="48" h="48" />
						<frame x="96" y="48" w="48" h="48" />
						<frame x="144" y="48" w="48" h="48" />
						<frame x="192" y="48" w="48" h="48" />
						<frame x="240" y="48" w="48" h="48" />
					</moveR>
					<moveL loop="true" speed="0.2">
						<frame x="0" y="96" w="48" h="48" />
						<frame x="48" y="96" w="48" h="48" />
						<frame x="96" y="96" w="48" h="48" />
						<frame x="144" y="96" w="48" h="48" />
						<frame x="192" y="96" w="48" h="48" />
						<frame x="240" y="96" w="48" h="48" />
					</moveL>
					<jumpR loop="true" speed="0.02">
						<frame x="0" y="144" w="48" h="48" />
						<frame x="48" y="144" w="48" h="48" />
					</jumpR>
					<jumpL loop="true" speed="0.02">
						<frame x="0" y="192" w="48" h="48" />
						<frame x="48" y="192" w="48" h="48" />
					</jumpL>
					<deathR loop="false" speed="0.05">
						<frame x="0" y="240" w="48" h="48" />
						<frame x="48" y="240" w="48" h="48" />
						<frame x="96" y="240" w="48" h="48" />
						<frame x="144" y="240" w="48" h="48" />
						<frame x="192" y="240" w="48" h="48" />
						<frame x="240" y="240" w="48" h="48" />
						<frame x="288" y="240" w="48" h="48" />
						<frame x="336" y="240" w="48" h="48" />
					</deathR>
					<deathL loop="false" speed="0.05">
						<frame x="0" y="288" w="48" h="48" />
						<frame x="48" y="288" w="48" h="48" />
						<frame x="96" y="288" w="48" h="48" />
						<frame x="144" y="288" w="48" h="48" />
						<frame x="192" y="288" w="48" h="48" />
						<frame x="240" y="288" w="48" h="48" />
						<frame x="288" y="288" w="48" h="48" />
						<frame x="336" y="288" w="48" h="48" />
					</deathL>
					<crouch loop="false" speed="0.02">
						<frame x="0" y="336" w="48" h="48" />
						<frame x="48" y="336" w="48" h="48" />
						<frame x="96" y="336" w="48" h="48" />
					</crouch>
				</animations>
			</player>
			<enemies>
				<enemy name="Paco" x="854" y="420" xo="893" yo="420" w="48" h="38" texture="Assets/Textures/RedCanvas.png" gravity="true" type="terrestre" Alive="true">
					<animations>
						<idle loop="true" speed="0.2">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
							<frame x="192" y="0" w="48" h="48" />
						</idle>
						<moveR loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
						</moveR>
						<moveL loop="true" speed="0.2">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
							<frame x="96" y="96" w="48" h="48" />
							<frame x="144" y="96" w="48" h="48" />
							<frame x="192" y="96" w="48" h="48" />
							<frame x="240" y="96" w="48" h="48" />
						</moveL>
						<jumpR loop="true" speed="0.02">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
						</jumpR>
						<jumpL loop="true" speed="0.02">
							<frame x="0" y="192" w="48" h="48" />
							<frame x="48" y="192" w="48" h="48" />
						</jumpL>
						<deathR loop="false" speed="0.05">
							<frame x="0" y="240" w="48" h="48" />
							<frame x="48" y="240" w="48" h="48" />
							<frame x="96" y="240" w="48" h="48" />
							<frame x="144" y="240" w="48" h="48" />
							<frame x="192" y="240" w="48" h="48" />
							<frame x="240" y="240" w="48" h="48" />
							<frame x="288" y="240" w="48" h="48" />
							<frame x="336" y="240" w="48" h="48" />
						</deathR>
						<deathL loop="false" speed="0.05">
							<frame x="0" y="288" w="48" h="48" />
							<frame x="48" y="288" w="48" h="48" />
							<frame x="96" y="288" w="48" h="48" />
							<frame x="144" y="288" w="48" h="48" />
							<frame x="192" y="288" w="48" h="48" />
							<frame x="240" y="288" w="48" h="48" />
							<frame x="288" y="288" w="48" h="48" />
							<frame x="336" y="288" w="48" h="48" />
						</deathL>
						<crouch loop="false" speed="0.02">
							<frame x="0" y="336" w="48" h="48" />
							<frame x="48" y="336" w="48" h="48" />
							<frame x="96" y="336" w="48" h="48" />
						</crouch>
					</animations>
				</enemy>
				<enemy name="Manolo" x="1662" y="460" yo="456" xo="1661" w="48" h="38" texture="Assets/Textures/RedCanvas.png" gravity="true" type="terrestre" Alive="true">
					<animations>
						<idle loop="true" speed="0.2">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
							<frame x="192" y="0" w="48" h="48" />
						</idle>
						<moveR loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
						</moveR>
						<moveL loop="true" speed="0.2">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
							<frame x="96" y="96" w="48" h="48" />
							<frame x="144" y="96" w="48" h="48" />
							<frame x="192" y="96" w="48" h="48" />
							<frame x="240" y="96" w="48" h="48" />
						</moveL>
						<jumpR loop="true" speed="0.02">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
						</jumpR>
						<jumpL loop="true" speed="0.02">
							<frame x="0" y="192" w="48" h="48" />
							<frame x="48" y="192" w="48" h="48" />
						</jumpL>
						<deathR loop="false" speed="0.05">
							<frame x="0" y="240" w="48" h="48" />
							<frame x="48" y="240" w="48" h="48" />
							<frame x="96" y="240" w="48" h="48" />
							<frame x="144" y="240" w="48" h="48" />
							<frame x="192" y="240" w="48" h="48" />
							<frame x="240" y="240" w="48" h="48" />
							<frame x="288" y="240" w="48" h="48" />
							<frame x="336" y="240" w="48" h="48" />
						</deathR>
						<deathL loop="false" speed="0.05">
							<frame x="0" y="288" w="48" h="48" />
							<frame x="48" y="288" w="48" h="48" />
							<frame x="96" y="288" w="48" h="48" />
							<frame x="144" y="288" w="48" h="48" />
							<frame x="192" y="288" w="48" h="48" />
							<frame x="240" y="288" w="48" h="48" />
							<frame x="288" y="288" w="48" h="48" />
							<frame x="336" y="288" w="48" h="48" />
						</deathL>
						<crouch loop="false" speed="0.02">
							<frame x="0" y="336" w="48" h="48" />
							<frame x="48" y="336" w="48" h="48" />
							<frame x="96" y="336" w="48" h="48" />
						</crouch>
					</animations>
				</enemy>
				<enemy name="Rocoso" x="3348" y="519" yo="509" xo="3243" w="48" h="38" texture="Assets/Textures/GuardianCanvas.png" gravity="false" type="volador" Alive="true">
					<animations>
						<idle loop="true" speed="0.2">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
							<frame x="192" y="0" w="48" h="48" />
							<frame x="240" y="0" w="48" h="48" />
							<frame x="288" y="0" w="48" h="48" />
							<frame x="336" y="0" w="48" h="48" />
							<frame x="384" y="0" w="48" h="48" />
						</idle>
						<moveR loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
							<frame x="288" y="48" w="48" h="48" />
							<frame x="336" y="48" w="48" h="48" />
							<frame x="384" y="48" w="48" h="48" />
						</moveR>
						<moveL loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
							<frame x="288" y="48" w="48" h="48" />
							<frame x="336" y="48" w="48" h="48" />
							<frame x="384" y="48" w="48" h="48" />
						</moveL>
						<deathR loop="false" speed="0.05">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
							<frame x="96" y="144" w="48" h="48" />
							<frame x="144" y="144" w="48" h="48" />
							<frame x="192" y="144" w="48" h="48" />
							<frame x="240" y="144" w="48" h="48" />
							<frame x="288" y="144" w="48" h="48" />
							<frame x="336" y="144" w="48" h="48" />
							<frame x="384" y="144" w="48" h="48" />
						</deathR>
						<deathL loop="false" speed="0.05">
							<frame x="0" y="192" w="48" h="48" />
							<frame x="48" y="192" w="48" h="48" />
							<frame x="96" y="192" w="48" h="48" />
							<frame x="144" y="192" w="48" h="48" />
							<frame x="192" y="192" w="48" h="48" />
							<frame x="240" y="192" w="48" h="48" />
							<frame x="288" y="192" w="48" h="48" />
							<frame x="336" y="192" w="48" h="48" />
							<frame x="384" y="192" w="48" h="48" />
						</deathL>
					</animations>
				</enemy>
				<enemy name="Rocoso2" x="5240" y="350" yo="555" xo="5257" w="48" h="38" texture="Assets/Textures/GuardianCanvas.png" gravity="false" type="volador" Alive="true">
					<animations>
						<idle loop="true" speed="0.2">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
							<frame x="192" y="0" w="48" h="48" />
							<frame x="240" y="0" w="48" h="48" />
							<frame x="288" y="0" w="48" h="48" />
							<frame x="336" y="0" w="48" h="48" />
							<frame x="384" y="0" w="48" h="48" />
						</idle>
						<moveR loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
							<frame x="288" y="48" w="48" h="48" />
							<frame x="336" y="48" w="48" h="48" />
							<frame x="384" y="48" w="48" h="48" />
						</moveR>
						<moveL loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
							<frame x="288" y="48" w="48" h="48" />
							<frame x="336" y="48" w="48" h="48" />
							<frame x="384" y="48" w="48" h="48" />
						</moveL>
						<deathR loop="false" speed="0.05">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
							<frame x="96" y="144" w="48" h="48" />
							<frame x="144" y="144" w="48" h="48" />
							<frame x="192" y="144" w="48" h="48" />
							<frame x="240" y="144" w="48" h="48" />
							<frame x="288" y="144" w="48" h="48" />
							<frame x="336" y="144" w="48" h="48" />
							<frame x="384" y="144" w="48" h="48" />
						</deathR>
						<deathL loop="false" speed="0.05">
							<frame x="0" y="192" w="48" h="48" />
							<frame x="48" y="192" w="48" h="48" />
							<frame x="96" y="192" w="48" h="48" />
							<frame x="144" y="192" w="48" h="48" />
							<frame x="192" y="192" w="48" h="48" />
							<frame x="240" y="192" w="48" h="48" />
							<frame x="288" y="192" w="48" h="48" />
							<frame x="336" y="192" w="48" h="48" />
							<frame x="384" y="192" w="48" h="48" />
						</deathL>
					</animations>
				</enemy>
			</enemies>
			<items>
				<item name="Coin" x="200" y="672" yo="200" xo="672" w="48" h="38" texture="Assets/Textures/goldCoin.png" gravity="true" Alive="true" vida="false"/>
				<item name="botiquin" x="200" y="672" yo="200" xo="672" w="48" h="38" texture="Assets/Textures/goldCoin.png" gravity="true" Alive="true" vida="true"/>
				<item name="bala" w="48" h="38" texture="Assets/Textures/goldCoin.png" gravity="false" Alive="true" vida="false"/>
			</items>
		</entities>
	</scene1>
	<scene2>
		<map path="Assets/Maps/" name="MapTemplateLevel2.tmx" />
		<entities>
			<player x="490" y="450" w="48" h="32" texture="Assets/Textures/player/PlayerCanvas.png">
				<animations>
					<idle loop="true" speed="0.2">
						<frame x="0" y="0" w="48" h="48" />
						<frame x="48" y="0" w="48" h="48" />
						<frame x="96" y="0" w="48" h="48" />
						<frame x="144" y="0" w="48" h="48" />
						<frame x="192" y="0" w="48" h="48" />
					</idle>
					<moveR loop="true" speed="0.2">
						<frame x="0" y="48" w="48" h="48" />
						<frame x="48" y="48" w="48" h="48" />
						<frame x="96" y="48" w="48" h="48" />
						<frame x="144" y="48" w="48" h="48" />
						<frame x="192" y="48" w="48" h="48" />
						<frame x="240" y="48" w="48" h="48" />
					</moveR>
					<moveL loop="true" speed="0.2">
						<frame x="0" y="96" w="48" h="48" />
						<frame x="48" y="96" w="48" h="48" />
						<frame x="96" y="96" w="48" h="48" />
						<frame x="144" y="96" w="48" h="48" />
						<frame x="192" y="96" w="48" h="48" />
						<frame x="240" y="96" w="48" h="48" />
					</moveL>
					<jumpR loop="true" speed="0.02">
						<frame x="0" y="144" w="48" h="48" />
						<frame x="48" y="144" w="48" h="48" />
					</jumpR>
					<jumpL loop="true" speed="0.02">
						<frame x="0" y="192" w="48" h="48" />
						<frame x="48" y="192" w="48" h="48" />
					</jumpL>
					<deathR loop="false" speed="0.05">
						<frame x="0" y="240" w="48" h="48" />
						<frame x="48" y="240" w="48" h="48" />
						<frame x="96" y="240" w="48" h="48" />
						<frame x="144" y="240" w="48" h="48" />
						<frame x="192" y="240" w="48" h="48" />
						<frame x="240" y="240" w="48" h="48" />
						<frame x="288" y="240" w="48" h="48" />
						<frame x="336" y="240" w="48" h="48" />
					</deathR>
					<deathL loop="false" speed="0.05">
						<frame x="0" y="288" w="48" h="48" />
						<frame x="48" y="288" w="48" h="48" />
						<frame x="96" y="288" w="48" h="48" />
						<frame x="144" y="288" w="48" h="48" />
						<frame x="192" y="288" w="48" h="48" />
						<frame x="240" y="288" w="48" h="48" />
						<frame x="288" y="288" w="48" h="48" />
						<frame x="336" y="288" w="48" h="48" />
					</deathL>
					<crouch loop="false" speed="0.02">
						<frame x="0" y="336" w="48" h="48" />
						<frame x="48" y="336" w="48" h="48" />
						<frame x="96" y="336" w="48" h="48" />
					</crouch>
				</animations>
			</player>
			<enemies>
				<enemy name="boss" x="5240" y="350" yo="555" xo="5257" w="48" h="38" texture="Assets/Textures/All.png" gravity="false" type="volador" Alive="true">
					<animations>
						<idle loop="true" speed="0.2">
							<frame x="0" y="0" w="48" h="48" />
						</idle>
						<awake loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
						</awake>
						<moveR loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
						</moveR>
						<moveL loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
						</moveL>
						<cargarR loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
						</cargarR>
						<cargarL loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
						</cargarL>
						<damageR loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
						</damageR>
						<damageL loop="true" speed="0.2">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
						</damageL>
						<deathR loop="false" speed="0.05">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
							<frame x="96" y="144" w="48" h="48" />
							<frame x="144" y="144" w="48" h="48" />
							<frame x="192" y="144" w="48" h="48" />
							<frame x="240" y="144" w="48" h="48" />
							<frame x="288" y="144" w="48" h="48" />
							<frame x="336" y="144" w="48" h="48" />
							<frame x="384" y="144" w="48" h="48" />
						</deathR>
						<deathL loop="false" speed="0.05">
							<frame x="0" y="192" w="48" h="48" />
							<frame x="48" y="192" w="48" h="48" />
							<frame x="96" y="192" w="48" h="48" />
							<frame x="144" y="192" w="48" h="48" />
							<frame x="192" y="192" w="48" h="48" />
							<frame x="240" y="192" w="48" h="48" />
							<frame x="288" y="192" w="48" h="48" />
							<frame x="336" y="192" w="48" h="48" />
							<frame x="384" y="192" w="48" h="48" />
						</deathL>
					</animations>
				</enemy>
			</enemies>
			<items>
				<item name="Coin" x="200" y="672" yo="200" xo="672" w="48" h="38" texture="Assets/Textures/goldCoin.png" gravity="true" Alive="true" vida="false"/>
				<item name="botiquin" x="200" y="672" yo="200" xo="672" w="48" h="38" texture="Assets/Textures/goldCoin.png" gravity="true" Alive="true" vida="true"/>
				<item name="bala" w="48" h="38" texture="Assets/Textures/goldCoin.png" gravity="false" Alive="true" vida="false"/>
			</items>
		</entities>
	</scene2>
</config>
